@font-face {
    font-family: "GothicByte";
    src: url("fonts/GothicByte.ttf") format("truetype");

    
}

@font-face{
    font-family: "Basis33";
    src: url("fonts/basis33.ttf") format("truetype");
}

body.home, body.about{
    margin:0;
    background-image:url("images/websitebg.png");
    background-size: 100% 100%;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;;
    
    height:100vh;
    width: 100vw;

    font-family:"Basis33";
    font-size: 20px;
    color:white;
}




.clock{
    position: absolute;
    font-size: 20px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: right;
    width: 400px;
    height: 50px;
    top:10px;
    right: -40px;
    
}


h1{
    font-family: "GothicByte";
    font-size: 40px;
    text-align: left;
    transform: translate(30px, 10px);
    color: rgb(255, 255, 255);
    
}






.interface {

  
    position: absolute;
    
    width: 1200px;
    height: 675px;
    top: 10px;
    left: 115px;
    margin: auto;

    
    
    
}

.header {
    position: absolute;
    top: 20px;
    left:20px;

    width: 1155px;
    height: 80px;

    background-color:rgba(0, 0, 0, 0.5);
    
    
}

.intro {
    position: absolute;
    top: 130px;
    left: 20px;
    width: 250px;
    height: 390px;
    background-color:rgba(0, 0, 0, 0.5);
    
}



.art {
    position: absolute;
    top: 130px;
    left: 300px;

    width: 420px;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.5);

}

.menu {
    position: absolute;
    top: 130px;
    right: 20px;

    width: 200px;
    height: 280px;

    background-color:rgba(0, 0, 0, 0.5);
}

.links {
    position: absolute;

    bottom: 20px;
    right:20px;

    width: 200px;
    height: 210px;
    background-color:rgba(0, 0, 0, 0.5);

}

.footer {
    position: absolute;

    bottom: 20px;
    right: 50 px;

    width: 500px;
    height: 100px;
    background-color:rgba(0, 0, 0, 0.5);
}

.song{
    position: absolute;

    bottom: 20px;
    left: 20px;
    width: 250px;
    height: 100px;
    background-color:rgba(0, 0, 0, 0.5);
}

.song p{
    padding-left: 20px;
    padding-right:20px;
    font-size: 15px;
    transform: translate(0px, -65px);
}
.header,
.intro,
.art,
.menu,
.links,
.song,
.footer {
    border: 2px solid rgb(220, 213, 202);
}

.button {
    position: relative;
    display: inline-block;
    width: 200px;
}

.button img {
    width: 100%;
    display: block;
}

.button span {
    position: absolute;
    

    top: 50%;
    left: 50%;

    transform: translate(-50%, -40%);

    font-family: "Basis33";
    font-size: 25px;

    color: rgb(255, 255, 255);
}

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
}
.doodleofme img{
    width: 200px;
    transform: translate(25px, 25px);
}

.links img{
    width: 100px;
    transform:translate(50px, 25px);
}
.linkbutton{
    position: relative;
    display: inline-block;
    width: 120px;
}
.linkbutton img{
    width: 120px;
    transform: translate(45px, 75px);
}
.linkbutton span {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(15px, 65px);

    font-family: "Basis33";
    font-size: 15px;

    color: rgb(255, 255, 255);
}

.linkbutton:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.linkbutton:active {
    transform: scale(0.97);
}

.links p{
    text-align: center;
    font-size: 15px;
    transform:translateY(-27px);
}

.intro p{
    text-align: center;
    font-size: 20px;
    transform:translate(0px, 15px);
    padding-left: 20px;
    padding-right: 20px;
}   

.playbutton{
    position: relative;
    display: inline-block;
}
.playbutton img{
    width: 130px;
    transform:translate(60px, 40px);
}
.playbutton span{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(45px, 30px);

    font-family: "Basis33";
    font-size: 15px;

    color: rgb(255, 255, 255);
}
.playbutton:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.playbutton:active {
    transform: scale(0.97);
}



/* about me stuff */

.aboutinterface {

  
    position: absolute;
    
    width: 1200px;
    height: 1000px;
    top: 10px;
    left: 115px;
    margin: auto;
    
    
    
}
.aboutheader{
    position: absolute;
    top: 20px;
    left:20px;

    width: 1155px;
    height: 80px;

    background-color:rgba(0, 0, 0, 0.5);
}
.aboutmenu{
    position: absolute;
    top: 130px;
    right: 20px;

    width: 200px;
    height: 280px;

    background-color:rgba(0, 0, 0, 0.5);
    border: 2px solid white;
}

.aboutme{
    position: absolute;
    top: 130px;
    right: 275px;

    width: 500px;
    height: 280px;
    background-color:rgba(0, 0, 0, 0.5);
}
.aboutinterface h1{
    text-align: left;
    
}

.aboutme p{
    padding-left: 20px;
    padding-right: 20px;
}

.pic {
    position: absolute;
    top: 130px;
    left: 20px;
    width: 350px;
    height: 280px;
    background-color:rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(220, 213, 202);
    
}

.picofme img{
    width: 300px;
    transform: translate(25px, 25px);
}

.aboutheader,
.aboutme{
    border: 2px solid rgb(220, 213, 202);
}

.favgames{
    position:absolute;
    top:450px;
    left:20px;
    width:200px;
    height:280px;
    background-color:rgba(0, 0, 0, 0.5);
    border:2px solid white;
}

.favsongs{
    position:absolute;
    top:450px;
    left:250px;
    width:200px;
    height:280px;
    background-color:rgba(0, 0, 0, 0.5);
    border:2px solid white;
}




/*
gallery page stuff
*/


body.gallery{
    margin:0;
    background-image: url("images/blackbg.png");
    
    background-position:center;
    background-repeat:repeat;
    
    background-attachment: fixed;
    
    height:1800px;
    width: 100vw;

    font-family:"Basis33";
    font-size: 20px;
    color:white;
    
}


.galleryinterface{
    position: absolute;
    width: 1300px;
    height: 2300px;
    top: 10%;
    left: 50%;
    transform:translateX(-50%);
    margin: auto;
    
}
.galleryheader{
    position: absolute;
    top: 5%;
    left:50%;
    transform: translate(-50%, -50%);
   
    width: 450px;
    height: 200px;
    
}
.galleryheader h1{
    top:0%;
    left:50%;
    transform:translate(0%, 0%);
    text-align: center; 
    color: white;
    
}
.galleryheader p{
    color:white;
   
}
.gallery span{
    color:white;
    font-size:19px;
}

.gallerymenu{
    display:flex;
    justify-content: center;
    gap:0px;
    position: absolute;
    width: 300px;
    top: 5%;
    left:50%;
    transform: translateX(-50%);
   
    
}

.gallery .button img{
    width: 100px;
   
}

.forcefed img{
    position: absolute;
    width: 500px;
    top: 200px;
    left: 10%;
}

.stimulant img{
    position:absolute;
    width: 500px;
    top:1270px;
    right: 10%;
}

.smear img{
    position: absolute;
    width: 500px;
    top:900px;
    left: 10%;
}

.redbloodything img{
    position:absolute;
    width: 500px;
    top: 735px;
    right: 10%;
}

.swallowmyself img{
    position: absolute;
    width: 500px;
    top: 200px;
    right: 10%;
}

.selfportrait img{
    position: absolute;
    width:500px;
    top:1605px;
    left: 10%;
}

/* force fed page*/

body.forcefedpage{
    margin:0;
    background-image: url("images/darkbg.jpeg");
    
    background-position:center;
    background-repeat:repeat;
    
    background-attachment: fixed;
    
    height:1300px;
    width: 100vw;

    font-family:"Basis33";
    font-size: 20px;
    color:white;
}
.forcefedinterface{
    position: absolute;
    width: 1300px;
    height: 1200px;
    top: 25%;
    left: 50%;
    transform:translateX(-50%);
    margin: auto;
    
}
.forcefedlarge img{
    position:absolute;
    top: 5%;
    right: 5%;
    width: 600px;
}

.statement{
    position:absolute;
    top:5%;
    width: 550px;
}
.forcefedheader{
    position: absolute;
    top: 0%;
    left:50%;
    transform: translate(-50%, -50%);
   
    width: 450px;
    height: 200px;
}
.forcefedheader h1{
    top:0%;
    left:50%;
    transform:translate(0%, 0%);
    text-align: center; 
    font-size: 50px; 
    color: white;
   
}

.forcefedpage .button{
    position: absolute;
    left: 0%;
    top: -5%;
    width: 150px;
}

.forcefedpage span{
    font-size: 20px;
}
/*
* {
    outline: 2px solid red;
}
*/
